In [16]:
#Imports
import pandas as pd

In [17]:
#Creating Data Frame
foxnews = pd.read_csv("NewsFox.csv")
foxnews

,Show,2-Jun,5-Jun,6-Jun,7-Jun,8-Jun,9-Jun,12-Jun,13-Jun,14-Jun,...,16-Jun,19-Jun,20-Jun,21-Jun,22-Jun,23-Jun,26-Jun,27-Jun,28-Jun,29-Jun
0,FOX AND FRIENDS,832,782,773,776,844,827,766,809,884,...,720,735,795,854,828,787,703,721,737,787
1,FOX AND FRIENDS,1197,1102,1121,1089,1106,1089,1017,1111,1113,...,1034,1007,1090,1177,1176,1072,1024,1022,1065,1084
2,FOX AND FRIENDS,1244,1220,1259,1291,1265,1205,1200,1310,1315,...,1195,1087,1215,1308,1420,1343,1146,1237,1199,1303
3,AMERICAS NEWSROOM,1265,1178,1337,1227,1320,1325,1287,1301,1271,...,1221,1252,1468,1533,1453,1420,1198,1335,1360,1434
4,AMERICAS NEWSROOM,1278,1232,1276,1147,1322,1288,1301,1394,1317,...,1258,1255,1415,1551,1507,1449,1266,1342,1335,1441
5,"FAULKNER FOCUS, THE",1304,1255,1255,1203,1295,1241,1340,1452,1277,...,1126,1267,1243,1517,1520,1281,1207,1399,1251,1359
6,OUTNUMBERED,1374,1338,1323,1300,1432,1285,1332,1377,1428,...,1329,1586,1417,1643,1732,1387,1244,1554,1404,1375
7,AMERICA REPORTS,1093,1154,1144,1035,1247,1195,1193,1458,1280,...,1055,1342,1336,1473,1563,1377,1155,1265,1055,1265
8,AMERICA REPORTS,999,1006,1024,1024,1119,1201,1026,1725,1218,...,883,1201,1122,1276,1452,1235,1156,1193,1007,1136
9,"STORY, THE",1032,1033,1008,1023,1170,1250,1092,1747,1153,...,953,1176,1117,1371,1986,1266,1218,1224,1062,1066
10,YOUR WORLD W/NEIL CAVUTO,1057,1030,1049,1126,1267,1225,1166,1734,1207,...,970,1293,1140,1402,1677,1250,1245,1185,1090,969
11,"FIVE, THE",2288,2645,2479,2765,2588,2579,2755,2984,2682,...,2299,2786,2703,2712,2718,2540,2746,2629,2569,2445
12,SPECIAL RPT W/BRET BAIER,1471,1786,1673,1863,1727,1572,1869,2028,1832,...,1593,2600,2166,1989,1980,1731,1929,1736,2227,1533
13,JESSE WATTERS PRIMETIME,1786,2021,1872,2046,2212,1842,2320,2454,2108,...,1772,2411,2123,2087,2250,1679,2145,2080,2213,1880
14,FOX NEWS TONIGHT,1489,1590,1584,1564,1904,1524,1800,2413,1586,...,1487,1886,1677,1751,1715,1371,1503,1530,1512,1346
15,HANNITY,1750,2030,1709,1871,2304,1706,1968,2867,2087,...,1574,2093,1769,2072,2084,1592,1930,1773,1976,1987
16,"INGRAHAM ANGLE, THE",1283,1559,1442,1538,2256,1349,1676,1979,1707,...,1239,1788,1621,1690,1845,1539,1750,1630,1809,1699
17,GUTFELD!,1472,1564,1546,1604,1801,1486,1480,1607,1773,...,1567,1750,1634,1657,1732,1584,1682,1682,1599,1602

In [18]:
#Creating new DataFrame with j the opinion hosts
opinion = foxnews.drop(labels=[0,1,2,3,4,5,6,7,8,9,10,12,14], axis=0)
opinion

,Show,2-Jun,5-Jun,6-Jun,7-Jun,8-Jun,9-Jun,12-Jun,13-Jun,14-Jun,...,16-Jun,19-Jun,20-Jun,21-Jun,22-Jun,23-Jun,26-Jun,27-Jun,28-Jun,29-Jun
11,"FIVE, THE",2288,2645,2479,2765,2588,2579,2755,2984,2682,...,2299,2786,2703,2712,2718,2540,2746,2629,2569,2445
13,JESSE WATTERS PRIMETIME,1786,2021,1872,2046,2212,1842,2320,2454,2108,...,1772,2411,2123,2087,2250,1679,2145,2080,2213,1880
15,HANNITY,1750,2030,1709,1871,2304,1706,1968,2867,2087,...,1574,2093,1769,2072,2084,1592,1930,1773,1976,1987
16,"INGRAHAM ANGLE, THE",1283,1559,1442,1538,2256,1349,1676,1979,1707,...,1239,1788,1621,1690,1845,1539,1750,1630,1809,1699
17,GUTFELD!,1472,1564,1546,1604,1801,1486,1480,1607,1773,...,1567,1750,1634,1657,1732,1584,1682,1682,1599,1602

In [19]:
#exporting as a csv for graphing
opinion.to_csv("opinion.csv")

In [20]:
#foxnews.nlargest(n=10, columns=['2-Jun', '5-Jun','6-Jun','7-Jun','8-Jun','9-Jun','12-Jun','13-Jun','14-Jun'])

In [21]:
#creating a new dataframe with columns transposed to rows to find 
top_10_values = foxnews.set_index('Show').stack().reset_index()
top_10_values.columns = ['Show', 'Date', 'Value']
top_10_values = top_10_values.nlargest(10, 'Value')

# Print the top 10 values
print(top_10_values)

          Show    Date  Value
227  FIVE, THE  13-Jun   2984
307    HANNITY  13-Jun   2867
231  FIVE, THE  19-Jun   2786
223  FIVE, THE   7-Jun   2765
226  FIVE, THE  12-Jun   2755
236  FIVE, THE  26-Jun   2746
234  FIVE, THE  22-Jun   2718
233  FIVE, THE  21-Jun   2712
232  FIVE, THE  20-Jun   2703
228  FIVE, THE  14-Jun   2682

In [22]:
#export to new csv
top_10_values.to_csv("top10episodes.csv")